.gsd-keyboard.settings-ported
Code/
JetBrains/
cef_user_data/
dconf/
dolphinrc
doom/
emacs/
evolution/
exercism/
gnome-initial-setup-one/
go/
gtk-3.0/
ibus/
kactivitymanagerdrc
kglobalshortcutsrc
libfm/
paperwm/
pcmanfm/
pulse/
user-dirs.dirs
user-dirs.locale
gnome-initial-setup-done
kde.org/
lazygit/state.yml
